

<div class="col-md-12">
  <div class="group">
    <%= link_to("新增", new_admin_product_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
       <td>#</td>
        <td>pic</td>
        <td>Title</td>
        <td>Description</td>
         <td>Quantity</td>
          <td>Price</td>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td>
          <%= product.id %>
        </td>
        <td>
          <%= link_to product_path(product) do %>
            <% if product.photo.present? %>
              <%= image_tag(product.photo.image.thumb.url, class: "thumbnail") %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
            <% end %>
          <% end %>
        </td>
          <td><%= link_to(product.title, admin_product_path(product)) %></td>
          <td><%= product.description %></td>
           <td><%= product.quantity %></td>
           <td><%= product.price %></td>
          <td>
              <%= link_to("Edit", edit_admin_product_path(product), class: "btn btn-sm btn-default")%>
              <%= link_to("Delete", admin_product_path(product),    class: "btn btn-sm btn-default", 
                          method: :delete, data: { confirm: "你確定?" } )%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

