<<<<<<< HEAD
 <%= simple_form_for [:admin, @product] do |f| %>
    <div class="form-group">
      <%= f.input :title, input_html: { class: "form-c
      	ontrol"} %>
      <%= f.input :description, input_html: { class: "form-control"} %>
       <%= f.input :quantity, input_html: { class: "form-control"} %>
      <%= f.input :price, input_html: { class: "form-control"} %>
    </div>
    <% if @photo.image.present? %>
<span>目前商品圖</span> <br>
<%= image_tag(@photo.image.thumb.url) %>
 <% end %>
 <div class="form-group">
  <%= f.simple_fields_for :photo do |c| %>
   <%= c.input :image , as: :file %>
   <% end %>
   </div>

    <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
  <% end %>




=======
<%= form_for [:admin, @product] do |f| %>

  <div class="group">
    <%= f.label("標題") %>
    <%= f.text_field :title %>
  </div>

  <div class="group">
    <%= f.label("敘述") %>
    <%= f.text_area :description %>
  </div>

  <div class="group">
    <%= f.label("數量") %>
    <%= f.text_field :quantity %>
  </div>

  <div class="group">
    <%= f.label("價錢") %>
    <%= f.text_field :price %>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
>>>>>>> 8ba5ecafa4b846be3fde8ade4fdfd22edd059451
